{%extends "base.html.twig"%}

{% block aside %}
    {% include ':Admin:aside.html.twig' %}
{%endblock%}

{% block page_content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Escritorio
                <small>Panel de Control</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li class="active">Escritorio</li>
            </ol>
        </section>
        <section class="content">
            <h1> Complejo {{ lista_compl.name_comp }}</h1>
        </section>
    </div>
{% endblock %}
