{%extends "base.html.twig"%}

{% block aside %}
    {% include ':Admin:aside_super.hmtl.twig' %}
{%endblock%}


{% block page_content %}
    {{ parent()}}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Escritorio
                <small>Panel de Control</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li class="active">Escritorio</li>
            </ol>
        </section>
        <section>
            <li class="treeview col-md-6">
                <ul class="treeview-menu">
                    <li><a href="{{ path('champ_index') }}"><i class="fa fa-circle-o"></i> Lista</a></li>
                </ul>
            </li>
        </section>
    </div>

{%endblock%}
   