{% extends 'base.html.twig' %}

{% block page_content %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Escritorio
            <small>Panel de Control</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Escritorio</li>
        </ol>
    </section>
    <section class="content">
        <h1> Complejo {{ lista_compl.name_comp }}</h1>
        <h4> Seleccione un Listado</h4>
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Campeonatos</a>
        <ul>
            <li><a href="{{ path('index_champ', { 'id' : lista_compl.id_comp }) }}">Listado</a></li>
            <li><a href="{{ path('courtes_index') }}">Canchas</a></li>
            <li><a href="{{ path('type_courtes_index') }}">Tipo de Canchas</a></li>
        </ul>
    </section>
</div>

{% endblock %}
