{% extends 'base.html.twig' %}

{% block body %}
    {% form_theme form '@App/Form/fields.html.twig' %}
    <h1>Capacidad creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('super_capacidad_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
